* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}
ul, ol, li{
    list-style: none;
}
/* FIM DO RESET*/

body{
    background-image: url(./img/valorant.png);
    background-size: 2400px 1600px;
    background-repeat: no-repeat;
    background-position-y: 0px;
    background-position-x: -9px;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.logo{
    padding-top: 50px;
    padding-left: 69px;
}
.logo img{
    height: 70px;
    width: 70px;
}
.menu {
    display: flex;
    gap: 206px;
    font-size: 63px;
    align-items: center;
    margin-left: 1000px;
    margin-top: 69px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

header a{
    font-size: 20px;
}
.registrar{
    background-color: black;
    width: 200px;
    height: 70px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 69px;
    margin-top: 50px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

main{
    background-color: darkorchid;
    height: 600px;
    display: flex;
}
.container{
    display: flex;
    flex-direction: column;
    padding-top: 238px;
    padding-left: 54px;
}

.container h1{
    font-size: 70px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.container h2{
    font-size: 100px;
}

