* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}
ul, ol, li{
    list-style: none;
}
/* FIM DO RESET*/

body{
    background-image: url(./img/valorant.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex ;
    justify-content: space-between;
}

.logo{
    padding-top: 70px;
    padding-left: 80px;
}

.logo img{
    height: 60px;
    width: 60px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 15vh;
    margin-top: 4vh;
    margin-left: 60vh;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

header a{
    font-size: 20px;
}

.registrar{
    background-color: black;
    width: 20vh;
    height: 5vh;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 69px;
    margin-top: 7vh;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

main{
    height: 35vw;
    display: flex;
}

.container{
    display: flex;
    flex-direction: column;
    padding-top: 238px;
    padding-left: 69px;
}


.container h1{
    font-size: 70px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: white;
}

.container h2{
    font-size: 100px;
    color: #1B2A2E;
    font-family: "Krona One", sans-serif;
    -webkit-text-stroke-width: 0.1px; /* serve para colocar a borda nas letras*/
    -webkit-text-stroke-color: #95FF00; /*cor da borda*/
}

.container h3{
    font-size: 100px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: white;
}

.container p{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: lighter;
    color: white;
    flex-direction: column;
}

footer{
    background-color: lightpink;
    height: 10vw;
}

.elos{
    display: flex;
    gap: 5vh;
    align-items: center;

}

.sentinela{
    background-color: #1A1A35;
}

.controlador{
    background-color: #1A1A35;
}

.duelista{
    background-color:#1A1A35;
}
.iniciador{
    background-color: #1A1A35;
}