* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}
ul, ol, li{
    list-style: none;
}
/* FIM DO RESET*/

body{
    background-image: url(./img/valorant.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

header{
    display: flex ;
    justify-content: space-between;
}

.logo{
    padding-top: 70px;
    padding-left: 80px;
}

.logo img{
    height: 60px;
    width: 60px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 15vh;
    margin-top: 4vh;
    margin-left: 80vh;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

header a{
    font-size: 20px;
}

.registrar{
    border-color:#95FF00;
    background-color: #1B2A2E;
    border-style: solid;
    border-width: 5px;
    width: 20vh;
    height: 6vh;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 69px;
    margin-top: 5vh;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

main{
    height: 35vw;
    display: flex;
}

.container{
    display: flex;
    flex-direction: column;
    padding-top: 180px;
    padding-left: 80px;
}


.container h1{
    font-size: 100px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: white;
}

.container h2{
    font-size: 120px;
    color: #1B2A2E;
    font-family: "Krona One", sans-serif;
    -webkit-text-stroke-width: 0.1px; /* serve para colocar a borda nas letras*/
    -webkit-text-stroke-color: #95FF00; /*cor da borda*/
}

.container h3{
    font-size: 120px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: white;
}

.container p{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: lighter;
    color: white;
    flex-direction: column;
}

footer{
    height: 10vw;
}

.elos{
    position: absolute;
    display: flex;
    gap: 5vh;
    align-items: center;
    padding-left: 69px;
    z-index: 2;
}

.elos img{
    transform: translate(5%, 77%);
    border-color: #333244;
    border-style: solid;
    border-width: 5px;
    border-radius: 50px 50px 50px 50px;
    height: 250px;
    width: 260px;
   
}
.controlador img{
    border-color: #95FF00;
}

.letras{
    display: flex;
    gap: 5vh;
    align-items: center;
    font-size: 340px;
    position: absolute;
    font-family: "Londrina Sketch", sans-serif;
    color: white;
    z-index: 1;
}

.c {
    transform: translate(1%, 45%);
    z-index: -1;
    color: #95FF00;
    padding-left: 3vw;
    height: 250px;
    width: 260px;
}
.letras span{
    transform: translate(15%, 45%);
    z-index: -1;
    padding-left: 3vw;
    height: 250px;
    width: 260px;
}
.d{
    padding-left: 3vw;
    transform: translate(5%, 45%);
    z-index: -1;
    height: 250px;
    width: 260px;
}

.i{
    transform: translate(5%, 45%);
    z-index: -1;
    padding-left: 3vw;
    height: 250px;
    width: 260px;
}

.class span{
    transform: translate(5%, 400%);
    display: flex;
    gap: 30vh;
    align-items: center;
    padding-left: 7vh;
    font-size: 30px;
    position: absolute;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}
.tipo{
    transform: translate(1%, 1100%);
    display: flex;
    gap: 15vh;
    align-items: center;
    padding-left: 10vh;
    font-size: 30px;
    position: absolute;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    z-index: 2;
}

.diamante{
    display: flex;
    transform: translate(30%, 85%);
    justify-content: center;
    align-items: right;
    height: 20vh;
    border-radius: 50px;
}

.procurar{
    display: flex;
    justify-content: center;
    align-items: right;
}

